/* Main Layout */

.grid-layout {
    height: 85vh;
    margin: 20px;
    display: grid;
    gap: 1rem;

    grid-template-areas:
    'm  i  r '
    'm  i  r '
    'm  i  r ';

    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto 1000px;
}

.section {
    resize: both;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 3rem;
    color: #fff;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-size: cover;
    background: #5675b4 no-repeat center;
}

.section.menu {
    grid-area: m;
}

.section.images {
    grid-area: i;
}

.section.result {
    grid-area: r;
}

/* Components */

button {
    display: inline-block;
    padding: 0.46em 1.6em;
    border: 0.1em solid #000000;
    margin: 0 0.2em 0.2em 0;
    border-radius: 0.12em;
    box-sizing: content-box;
    text-decoration: none;
    font-weight: 300;
    color: #000000;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    background-color: #FFFFFF;
    text-align: center;
    transition: all 0.15s;
}

button:hover {
    text-shadow: 0 0 2em rgba(255, 255, 255, 1);
    color: #FFFFFF;
    border-color: #FFFFFF;
}

@media all and (max-width: 30em) {
    button {
        display: block;
        margin: 0.4em auto;
    }
}

.fileContainer.no-background {
    background: none;
}

ul {
    overflow: auto;
    list-style-type: none;
}

li {
    list-style-type: none;
    margin: 0 0 3px 0;
}

img.uploaded {
    width: 80%;
    border: 2px dashed #0a0909;
}

.uploaded-image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.result-container {
    display: flex;
    align-items: center;
    justify-content: center;
}